# Android Studio captures folder
captures/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea/

# Keystore files
.jks
keystore.properties

# Local configuration file (sdk path, etc)
local.properties

#OS
._*
.DS_Store
Thumbs.db
