<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.billing.BillingActivity" />
        <activity
           android:name=".ui.calculator.CalculatorActivity"
           android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
           android:name=".ui.calibrator.CalibratorActivity"
           android:parentActivityName=".ui.filtereditor.FilterEditorActivity" />
        <activity
           android:name=".ui.filtereditor.FilterEditorActivity"
           android:parentActivityName=".ui.filterpouch.FilterPouchActivity" />
        <activity
           android:name=".ui.filterpouch.FilterPouchActivity"
           android:parentActivityName=".ui.calculator.CalculatorActivity" />
        <activity
           android:name=".ui.preferences.PreferenceActivity"
           android:parentActivityName=".ui.calculator.CalculatorActivity" />
        <activity
           android:name=".ui.timer.TimerActivity"
           android:launchMode="singleTask"
           android:parentActivityName=".ui.calculator.CalculatorActivity" />

        <service
           android:name=".ui.timer.TimerService"
           android:enabled="true"
           android:exported="false" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

</manifest>
